*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    color: hsl(0, 0%, 47%);
    width: 100vw;
 }
 img{
    display: block;
 }
.nav{
    height: 86px;
    width: 100%;
    border-bottom: 1px solid black;
    background-image: url(images/hero-bg.jpg);
 }
 .section-1{
      background-image: url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 }
.section-1-inner {
  
     
    color: rgb(255, 247, 247); 
    
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
   color: hsl(23, 49%, 82%);
   position: relative;
}
.section-1-inner::after{
    content: "";
    width: 90%;
    height: 100%;
    background-image: url("images/hero-bg-shape.png");
    position: absolute;
    bottom: -7rem;
    right: 0;
   display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 70px 30px;

}
.section1-div-1{
    text-align: center;
    max-width: 550px;
    min-width: 450px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}
.section1-div-2{
    position: relative;
    display: block;
    margin-inline: auto;
}
.container img{
    display: none;
    min-width: 300px;
    max-width: 100%;
   
    
}
 
.section1-div-2 .back-img {
    position: absolute;
    top: -2rem;
    left: -5rem;
    transform: scale(1.2);
    z-index: 1;
}
.section1-div-2 .front-img {
    position: relative;
    left: -7rem;
    z-index: 2;
  
}
/* .section1-div-2 .front-img {
    position: absolute;
    top: 97px;
    transform: scale(1.2);
  
} */
.font{
    color: hsl(28, 100%, 58%);
    margin-bottom: 35px;
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
}
.section1-div-1 h1{
    color: hsl(23, 61%, 86%);;
    font-size: 2.5rem;
    letter-spacing: -1;
    margin: 15px 0;
}
.btn{
    background-color:rgb(255, 157, 46);
    padding:15px 30px ;
    
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 30px 0;
    color: white;
    position: relative;
    z-index: 2;
}

.btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 26, 24);
    transition: all 0.3s ease;
    clip-path: circle(26.6% at 16% 173%);
    transition: all 0.5s ease-in-out;
    z-index: -11;
}

.btn:hover::after{
    clip-path: circle(100% );
}


 
@media screen and (min-width:770px){
    .container img{
        display: block;  
    }
    .section-1-inner::after{
        display: block;
    }
    .section1-div-1{
        text-align: start;
    }
    .container{
        width: 80%;
    }
    .section1-div-1 h1{
        font-size: 3rem;
    }
}
@media screen and (min-width:540px){
    /* .container img{
        display: block;  
    } */
    .section1-div-1{
        /* text-align: start; */
        min-width: 370px;
    }
    .container{
        width: 100%;
    }
    .section1-div-1 h1{
        font-size: 2.5rem;
    }
}
@media screen and (min-width:992px){
    .section1-div-1{
        min-width: 600px;
    }
   
    .section1-div-1 h1{
        font-size: 4rem;
    }
  
}
@media screen and (min-width:1200px){
     .container{
        max-width: 1200px;
        margin-inline: auto;
     }
  
}
/* section-----------------------------------2 */

.section-2{
    background-color: (243 238 230);
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 80px 0;
}

.card{
    width: 300px;
    text-align: center;
    position: relative;
    padding: 1rem 0.5rem;
    border: 1px solid rgb(255, 157, 46); ;
}
 

.card::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgb(255, 157, 46);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    clip-path: circle(38.6% at 50% 92%);
    
    transition: all 0.5s;

}

.section-2 p{
    font-size: 1.2rem;
}
.section-2 h3{
     color: rgb(54, 53, 53);
}
.card-img{
width: 250px;
height: auto;
}
.card:hover::before {
    clip-path: circle(100%);
    transform: scaleY(1);
  }

.card:hover .card-icon path { 
    fill: white; 
}

.card:hover :is(.card-heading, .card-para) {
     color: white;
     }

@media screen and (max-width:933px){
 .card{
    width: 340px;
    padding: 40px 30px;
 }
}

/* section---------------------------3 */
.section-3{
    background-image: url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
.bottom{
    position: absolute;
    bottom: -1;
    left: 0;
    width: 100%;
     
}
.top{
    position: absolute;
    top: -2;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;    
    /* flex-wrap: wrap; */
    /* gap: 4.5rem; */
    padding: 3.5rem 0;
    margin: 1rem;
}
.section-3 h2{
    font-size: 2.5rem;
    color: aliceblue;
    max-width: 18ch;
    line-height: 1.2;
    margin-inline: auto;
     
}
.section-3 .colored-h1{
    color: rgb(255, 157, 46);
    /* margin-inline: auto; */
}
.section-3-para{
    color: white;
    font-size: 1rem;
     
}
.section-3-container-1{
    max-width: 510px;
    min-width: 510px;
    position: relative;
    text-align: center;
}
.section-3-container-2{
    /* max-width: 50%; */
    position: relative;
    top: 1.7rem;
}
.section-3-banner{
    width: 100%;
}
.float-ani{
    width: 30%;
    position: absolute;
    top: 0;
    left: -30px;
    animation: pop 1s linear infinite alternate;
   
}

@keyframes pop {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
@media screen and (min-width:1200px) {
    .inner{
      font-size: 1.4rem;
      line-height: 1.3;
      /* text-align: center; */
      max-width: 1200px;
      margin-inline: auto;
    }
    .inner p{
        padding-top: 1rem;
        
    }
}
 @media screen and (max-width:900px) {
    .innersection-3-para{
        font-size: rem;
        line-height: 1.3;
      
      }
      .inner  {
        text-align: left;
          padding-top: 1rem;
          font-size: 1rem;
          flex-direction: column;
      }
      .section-3-container-1{
        text-align:  center;
      }
 }
 @media screen and (min-width:901px) {
    .innersection-3-para{
        font-size: rem;
        line-height: 1.3;
      
      }
      .section-3 h2{
        margin-inline: 0;
      }
      /* .inner  {
        text-align: left;
        padding-top: 1rem;
        font-size: 1rem;
        flex-direction: column;
      } */
      .section-3-container-1{
        text-align:  left;
      }
 }
 @media screen and (min-width:500px) {
    .innersection-3-para{
        font-size: rem;
        line-height: 1.3;
      
      }
      .inner  {
        text-align: left;
          padding-top: 1rem;
          font-size: 1rem;
      }
   
 }

 /* section---------------------------------------4 */

 .section-4-cards{
    max-width: 550px;
    width: 100%;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    
 }
.card-4{
    border: 1px solid white;
    box-shadow: 2px 2px 3px ;
    position: relative;
    margin-inline: auto;
}
.card-4>*{
    padding: 0.1rem;
}
.card-4 img{
    width: 100%;
    padding: 0%;
}
.sec-4-anchor{
    font-size: 1.6rem;
    
}
.absolute-btn{
    position: absolute;
    right: 2rem;
    top: 0rem;
     
}
.sec-4-anchor{
    margin-top: 0.6rem;
}
a .icon{
    color:rgb(255, 157, 46);
    margin : 0 0.5rem ;
    font-size: 1rem;
}
.sec-4-anchor a{
   
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.sec-4-anchor a:hover{
    text-decoration: underline;
}
.section-4-top{
    text-align: center;
    margin-bottom: 2rem;
}
.red{
    color: rgb(228, 41, 8);
}
.section-4-top h2{
    color: black;
    font-size: 2.5rem;

}
.orange{
    color: rgb(255, 157, 46);
}
.card-heading{
    color: black;
}
@media screen and (min-width:500px) {
.section-4-cards{
    max-width: 500px;
}

}
@media screen and (min-width:770px) {
.section-4-cards{
    max-width: 770px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-4-top p{
    margin-inline: auto;
    max-width: 45ch;
}
}
@media screen and (min-width:990px) {
.section-4-cards{
    padding: 0 1rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

}